In [1]:
a = b = c = 10
print(a,end=" ")
print(b)
print(c)

10 10
10

In [2]:
a = b = c = 10
print(a,end=" ")# end it with space
print(b,end=" ")
print(c,end = " ")

10 10 10

In [3]:
a = b = c = 10
print(a)
print(b)
print(c)

10
10
10

In [4]:
a,b,c = 10,20,30
print(a,b,c)

10 20 30

# input function

In [ ]:
a = int(input("enter the number: "))
b = int(input("enter the second number:"))
print(a+b)

In [ ]:
a = int(input("enter the number: "))
b = int(input("enter the second number:"))
print(a+b)

In [ ]:
print("hello")

In [2]:
a = int(input("enter the number: "))
b = int(input("enter the second number:"))
res = a + b
print(f'sum:{res}')#imp point

enter the number: 10
enter the second number:15
sum:25

In [3]:
a = b = c = d =10
print(id(a),id(b),id(c))

140709679016016 140709679016016 140709679016016

# list

In [5]:
l1 = [1,2,3,4,5,6,7]
print(type(l1))

<class 'list'>

In [6]:
l = [5,10.5,"hello","coders",12+5j]
print(l)

[5, 10.5, 'hello', 'coders', (12+5j)]

In [7]:
print(l[0])

5

In [8]:
m = [1,2,3,4,5,6]
print(m)
print( 5 in m)
print(10 in m)

[1, 2, 3, 4, 5, 6]
True
False

In [9]:
i = [1,2,3]
print(i*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [10]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
l1 = [1,2,3,4,5,6,7,8]
for i in l1:
    print(i)

1
2
3
4
5
6
7
8